<!DOCTYPE html>
<html>

<head>
    <title>LeTs LEARN<</title>
    <link rel="stylesheet" type="text/css" href="landingPage.css">

</head>

<body>
    <nav>
        <div class="Navigation">
            <div>
                <h1 class="navbar-brand">LeTs LEARN</h1>
            </div>

            <div class="navbar-btn">
                <div>
                    <h1 class="btn"><a href="/login">LogIn</a></h1>
                </div>

                <div>
                    <h1 class="btn">
                        <a href="/signup">SignUp</a> </h1>
                </div>
            </div>
        </div>
    </nav>
    <img src="main.jpg " style="opacity: 0.5;" class="mainImage ">

    <div class="text ">
        <h2>Join US </h2>
        <h3>On a Journey of Learning...</h3>
        <p>There is no end to education. It is not that you read a book, pass an examination, and finish with education. The whole of life, from the moment you are born to the moment you die, is a process of learning</p>
    </div>

    <!-- ======================================================================================================================================================
 -->

    <div>
        <footer class="footer ">
            <p>Questions? Call 1-866-579-7172</p>
            <div class="footer-cols ">
                <ul>
                    <li><a href="# ">FAQ</a></li>
                    <li><a href="# ">Investor Relations</a></li>
                    <li><a href="# ">Corporate Information</a></li>
                    <li><a href="# ">Learn.Inc Originals</a></li>
                </ul>
                <ul>
                    <li><a href="# ">Help Center</a></li>
                    <li><a href="# ">Terms Of Use</a></li>
                    <li><a href="# ">Contact Us</a></li>
                </ul>
                <ul>
                    <li><a href="# ">Account</a></li>
                    <li><a href="# ">Privacy</a></li>
                </ul>
                <ul>
                    <li><a href="# ">Media Center</a></li>
                    <li><a href="# ">Cookie Preferences</a></li>
                    <li><a href="# ">Legal Notices</a></li>
                </ul>
            </div>

        </footer>
    </div>

</body>

</html>