* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
nav {
    background: black;
    padding: 15px;
}

nav {
    width: 100%;
}

.Navigation {
    color: black;
    font-family: 'Voltaire', sans-serif;
    display: flex !important;
    padding: 10px;
}

.navbar-brand {
    color: white;
    padding-right: 100px;
    text-decoration: underline;
}

.navbar-btn {
    display: flex;
    margin-left: 950px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    margin-left: 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background: rgb(0, 255, 85); 
    padding-left: 20px;
    padding: 5px;
    transform: scale(0.85);
}


/*========================================================================================================================================================*/


/* Toggle Styles */

#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
    justify-content: center;
}


/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar .nav a {
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 14px;
    padding: 16px 24px;
}

#sidebar .nav a i {
    margin-right: 16px;
}

.container {
    margin-left: 20px;
    height: auto;
    width: 100%;
    background: white;
    border-radius: 20px 5px;
}

.course-material {
    padding: 10px;
}


/*========================================================================================================================================================*/

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    text-align: left;
}

.tabcontent {
    float: left;
    padding: 30px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: auto;
    display: none;
}

.tablinks {
    width: 100%;
    background: white;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 30px;
    font-weight: 700;
}

.tablinks:hover {
    background: gray;
}


/*========================================================================================================================================================*/

body {
    background: rgb(0, 255, 85); 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}